$heading-footer-font-family: "Raleway", sans-serif;
$link-button-color: #2196f3;
$light-color: #ffffff;
$dark-color: #000000;

.logo {
  display: flex;
  justify-content: center;
  font-family: $heading-footer-font-family;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $link-button-color;
}
.logo--dark-color {
  color: $dark-color;
}
.logo--light-color {
  color: $light-color;
}
@media screen and (max-width: 767px) {
  .logo--footer {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    display: flex;
  }
}
