.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.mobile-menu {
  list-style-type: none;
  flex-direction: column;

  padding-left: 40px;

  &__item {
    margin-bottom: 32px;
  }
  &__link {
    padding-bottom: 32px;
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: black;
  }
  &__link:focus,
  &__link:hover,
  &__link:active {
    color: #2196f3;
  }
}

.contact-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 40px;
  margin-top: 306px;
  &__item {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196f3;
  }
  &__item--noactive {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
  }
}

.social-links {
  margin-left: 40px;
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
  &__item {
    text-decoration: none;
    color: #2196f3;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}
.js-open-menu {
  border: none;
  background: transparent;
  position: absolute;
  top: 20px;
  right: 15px;
  &:hover,
  &:focus {
    filter: invert(45%) sepia(92%) saturate(1752%) hue-rotate(184deg)
      brightness(98%) contrast(95%);
  }
}
.js-close-menu {
  border: none;
  background: transparent;

  &:hover,
  &:focus {
    filter: invert(45%) sepia(92%) saturate(1752%) hue-rotate(184deg)
      brightness(98%) contrast(95%);
  }
}

.is-hidden {
  visibility: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .js-open-menu {
    display: none;
  }
  .menu-container {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .js-open-menu {
    display: none;
  }
  .menu-container {
    display: none;
  }
}
