$link-button-color: #2196f3;
$paragraph-color: #757575;
$heading-color: #212121;
$light-color: #ffffff;

.navigation__contacts-list {
  display: none;
}

.navigation__pages-list {
  display: none;
}
.navigation__item {
  margin-right: 50px;
  position: relative;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__item:last-child {
  margin-right: 0px;
}
.navigation__link {
  color: $heading-color;
  text-decoration: none;
}
.navigation__link:hover,
.navigation__link:focus {
  color: $link-button-color;
}
.navigation__contacts-item {
  margin-right: 40px;
}
.navigation__contacts-item:last-child {
  margin-right: 0px;
}
.navigation__icon {
  color: $paragraph-color;
  margin-right: 10px;
}

.navigation__icon:hover,
.navigation__icon:focus {
  color: $link-button-color;
}

.current-page {
  color: $link-button-color;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $link-button-color;
    border-radius: 2px;
    position: absolute;
    bottom: -34px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    display: flex;
  }
  .navigation__contacts-list {
    display: flex;
    flex-direction: column;
  }

  .navigation__pages-list {
    display: flex;
    align-items: center;
    margin-left: 93px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    display: flex;
  }
  .navigation__contacts-list {
    display: flex;
  }

  .navigation__pages-list {
    display: flex;
    align-items: center;
    margin-left: 93px;
  }
}
