$text-font-family: "Roboto", sans-serif;
$heading-footer-font-family: "Raleway", sans-serif;
$link-button-color: #2196f3;
$heading-color: #212121;
$paragraph-color: #757575;
$light-color: #ffffff;
$dark-color: #000000;
$mobile-breakpoint: 480px;
$tablet-breakpoint: 769px;
$desktop-breakpoint: 1201px;
