$link-button-color: #2196f3;
$paragraph-color: #757575;
.benefits,
.wwd,
.team {
  padding-top: 94px;
}
.benefits__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.benefits__item:last-child {
  margin-right: 0px;
}

.benefits__heading {
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.benefits__description {
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $paragraph-color;
}
.benefits__icon {
  display: flex;
  border-radius: 4px;
  margin-bottom: 30px;
  background: #f5f4fa;
  height: 120px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
}

.benefits__icon:hover,
.benefits__icon:focus {
  color: $link-button-color;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
    gap: 30px;
  }
  .benefits__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__list {
    display: flex;
    flex-direction: row;
  }
  .benefits__item {
    margin-right: 30px;
  }
  .benefits__icon {
    padding: 25px 102px;
  }
}
