.customers__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $heading-color;
  padding-top: 94px;
  margin-bottom: 50px;
}
.customers__list {
  display: flex;
  margin-bottom: 94px;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.customers__card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__icon {
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__card:hover,
.customers__card:focus {
  border-color: $link-button-color;
  cursor: pointer;
}
.customers__icon:hover,
.customers__icon:focus {
  color: $link-button-color;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .customers__card {
    width: 170px;
  }
  .customers__card:not(:last-child) {
    margin-right: 30px;
  }
  .customers__list {
    display: flex;
    flex-direction: row;
    gap: 0;
  }
}
