$link-button-color: #2196f3;
$paragraph-color: #757575;
$light-color: #ffffff;

.team {
  background: #f5f4fa;
  margin-top: 94px;
}
.team__heading {
  margin-bottom: 50px;
  text-align: center;
}
.team__list {
  padding-bottom: 60px;
  row-gap: 30px;

  display: flex;
  flex-direction: column;
}
.team__item {
  flex-basis: calc((100% - 72px) / 4);
  text-align: center;
  background: $light-color;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  padding-top: 30px;
}
.team__description {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: $paragraph-color;
}
.team-icons__container {
  align-self: center;
  margin: 16px 44px 30px;
  color: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team__icon {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  color: inherit;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icon:hover,
.team__icon:focus {
  color: $light-color;
  background-color: $link-button-color;
  border-radius: 50%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    justify-content: center;
    flex-direction: unset;
    flex-wrap: wrap;
    column-gap: 30px;
  }
  .team__item {
    min-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-direction: row;
    justify-content: space-between;
  }
}
